# fly.toml app configuration file generated for lightning-cart-rs on 2026-02-04T14:28:23+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lightning-cart-rs'
primary_region = 'lax'
kill_signal = 'SIGTERM'
kill_timeout = '30s'

[build]
  dockerfile = 'Dockerfile'

[env]
  BASE_URL = 'https://lightning-cart-rs.fly.dev'
  ENVIRONMENT = 'production'
  HOST = '0.0.0.0'
  PORT = '8080'
  RUST_LOG = 'info,pay_api=info,pay_stripe=info'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
